/* NAv BAr */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: #100070;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-nav a{
  font-size: 18px;
}
.navbar-brand{
  font-family: "Playwrite CU", cursive;
}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: start;
}
.links-div{
  display: flex;
  justify-content: space-between;
  width: 25%;
}
/*end of navbar styling*/

.carousel1{
  background-color: rgb(223, 224, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel2{
  background-color: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel3
{
  background-color: #100070;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel3 p{
  color: white;
}
.carousel-item p{
  font-size: 50px;
  margin: 20px;
}

.cartProductContainer{
  border: 1px solid #100070;;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  width: 600px;
}
.cartProductContainer img{
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-size: contain;
}

.total{
  font-size: 3rem;
}
.statusContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 0;
  height: 300px;
  
}

.category-btn
{
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  width: 150px;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to right, #5c6cfa 0%, #c2d1fb 51%, #a1c4fd 100%);
  color: #100070;
}
.category-btn:hover {
  background-position: right center; /* change the direction of the change here */
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card-body .buy-now{
 padding: 5px;
 margin: 5px;
 border-radius: 10px;
 text-decoration: none;
  border: 1px solid #100070;
  color: #100070;
  width: 100%;
}
.card-body .buy-now:hover{
  color: white;
  background-color: #110070;

}
.buy-now:hover .icon {
  fill: rgb(255, 255, 255); /* Change the color on hover */
}
.login-left, .signup-right{
  width: 50%;
  padding:25px;
  
}
.login-right, .login-left {
  width: 50%;
}

.login, .register
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.submit-btn{
  background-color: rgb(98, 114, 178);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 15px;
  width: 100%;
}
.submit-btn:hover{
  width: 100%;
  color: rgb(98, 114, 178);
  background-color: white;
  border: 1px solid rgb(98, 114, 178);;
}
.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-text{
  width: 50%;
  font-size: 18px;
}
.contact{
  display: flex;
  padding: 20px 100px;
  align-items: center;
  background-color: #a6a6a6;
  height: 90vh;
}
.contact-form
{
  width: 50%;
}
.contact-img
{
  margin-left: 100px;
}
.right
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #100070;
}